<!DOCTYPE html>
<html ng-app="app" >
<head>
	<meta charset="utf-8" />
	<title>AngularJS: Directives</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="Default">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Products</h3>
			</div>
		</div>
		<div class="panel-body">
			<!-- Content  -->
             <!--   Task 1 -->
			<!--<div unordered-list1></div>-->
			<!--<div unordered-list2></div>-->

			<!-- task 2 -->

			<!--<div unordered-list3="products" list-property ="price | currency"></div>-->

			<!-- task 3 -->

			<!--<div unordered-list4="products" list-property ="price | currency"></div>-->

			<!-- task 4 -->

			<!--<button class="btn btn-primary" ng-click="incrementPrices()">Chenge Price</button>-->
			<!--<div unordered-list5="products" list-property ="price | currency"></div>-->

			<!-- task 5 -->

			<select ng-model="data.field">
				<option selected value="price | currency">Price</option>
				<option  value="name">Name</option>
				<option  value="category">Category</option>
			</select>

			<div unordered-list-attrs="products" list-property ="{{data.field}}"></div>

		</div>
	</div>

	<!-- libs and frameworks -->
	<script src="vendor/angular/angular.min.js"></script>

	<!-- app -->
	<script src="app.js"></script>
	<script src="controllers/Default.js"></script>
	<script src="controllers/Second.js"></script>
	<script src="controllers/Greeting.js"></script>
	<script src="services/productsData.js"></script>
	<script src="services/userData.js"></script>
	<script src="directives/directives.js"></script>
</body>
</html>









