<!DOCTYPE html>
<html ng-app="app" >
<head>
	<meta charset="utf-8" />
	<title>AngularJS: Directives</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="Default">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Products</h3>
			</div>
		</div>
		<div class="panel-body">
			<!-- Content  -->
             <!--   Task 1 -->
			<!--<div unordered-list1></div>-->
			<!--<div unordered-list2></div>-->

			<!-- task 2 -->

			<!--<div unordered-list3="products" list-property ="price | currency"></div>-->

			<!-- task 3 -->

			<!--<div unordered-list4="products" list-property ="price | currency"></div>-->

			<!-- task 4 -->

			<!--<button class="btn btn-primary" ng-click="incrementPrices()">Chenge Price</button>-->
			<!--<div unordered-list5="products" list-property ="price | currency"></div>-->

			<!-- task 5 -->

			<!--<select ng-model="data.field">-->
				<!--<option selected value="price | currency">Price</option>-->
				<!--<option  value="name">Name</option>-->
				<!--<option  value="category">Category</option>-->
			<!--</select>-->

			<!--<div unordered-list-scope="products" list-property ="data.field"></div>-->

			<!-- task 6   -->

			<!--<div class="panel-body">-->
				<!--<h5>Директива как элемент</h5>-->
				<!--<unordered-list6 list-source="products" list-property="price | currency" />-->
			<!--</div>-->

			<!--<div class="panel-body">-->
				<!--<h5>Директива как атрибут</h5>-->
				<!--<div unordered-list6="products" list-property="price | currency"></div>-->
			<!--</div>-->

			<!--<div class="panel-body">-->
				<!--<h5>Директива как класс</h5>-->
				<!--<div class="unordered-list6: products" list-property="price | currency"></div>-->
			<!--</div>-->

			<!--<div class="panel-body">-->
				<!--<h5>Директива как комментарий</h5>-->
				<!--&lt;!&ndash; directive: unordered-list6 products &ndash;&gt;-->
			<!--</div>-->

			<!-- task 7   -->

			<!--<div unordered-list7="products"></div>-->

			<!-- task 8   -->

			<!--<div unordered-list8="products"></div>-->

			<!--&lt;!&ndash; task 9   &ndash;&gt;-->

			<!--<div unordered-list10="products"></div>-->
			<!-- task 11   -->

			<!--<div unordered-list11="products"></div>-->

			<!-- task 12   -->

			<!--<div unordered-list12="products" template ="table"></div>-->

			<!--  task 9-2 -->

			<!--<div scope-demo-false ></div>-->
			<!--<div scope-demo-false ></div>-->

			<!--  task 10-2 -->

			<!--<div ng-controller="Default" scope-demo-false ></div>-->
			<!--<div ng-controller="Second" scope-demo-false ></div>-->

			<!--  task 11-2 -->

			<!--<div scope-demo-true ></div>-->
			<!--<div  scope-demo-true ></div>-->

			<!--  task 12-2 -->

			<!--<div scope-demo-isolated ></div>-->

			<!--  task 13-2 -->

			<!--<component decor1 decor2 />-->

			<!-- task 14 -->

			<!--Value in Default Controller <input ng-model = "data.name">-->

			<!--<div scope-demo-isolated1 prop = "{{data.name}}"></div>-->

			<!--<div scope-demo-isolated2 prop = "data.name"></div>-->
			<!--<div scope-demo-isolated3 prop = "data.name" city = "getCity(data.name)"></div>-->

			<!-- task 15 -->

			<!--<greeting />-->
			<greeting2 />

		</div>
	</div>

	<!-- libs and frameworks -->
	<script src="vendor/angular/angular.min.js"></script>

	<!-- app -->
	<script src="app.js"></script>
	<script src="controllers/Default.js"></script>
	<script src="controllers/Second.js"></script>
	<script src="controllers/Greeting.js"></script>
	<script src="services/productsData.js"></script>
	<script src="services/userData.js"></script>
	<script src="directives/directives.js"></script>
	<script id="listTemplate" type="text/template">
		<ul>
			<li ng-repeat="item in data">{{item.price | currency}}</li>
		</ul>
	</script>
</body>
</html>









