<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta charset="utf-8">
	<title>Vitaliy's TO DO List</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="css/main.css" rel="stylesheet">

</head>
<body ng-controller ="Todo">
	<div class="container">
		<div ng-include="'page-header.html'"></div>

		<!--<div class="page-header">-->
			<!--<h1>-->
				<!--&lt;!&ndash;<img class="photo" src="images/VZ.jpg">&ndash;&gt;-->
				<!--<img class="photo" ng-src={{::todo.userPhoto}}>-->
				<!--{{::todo.user}}`s To Do List-->
				<!--<span class="label label-default" ng-hide="incompleteCount(todo.items) ===0"-->
				<!--ng-class="warningLevel(todo.items)">-->
				<!--{{incompleteCount(todo.items)}}-->
				<!--</span>-->
			<!--</h1>-->
		<!--</div>-->

		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input id="action" name="action" class="form-control" ng-model="newItem.action"/>
						<span class="input-group-btn">
							<button class="btn btn-default"
									ng-click="addNewItem(todo.items, newItem)"
									ng-disabled ="!newItem || !newItem.action">Add</button>
						</span>
					</div>
				</div>
			</form>

			<!--<table class="table table-striped">-->
				<!--<thead>-->
					<!--<tr>-->
						<!--<th>Description</th>-->
						<!--<th>Done</th>-->
						<!--<th>Checkbox</th>-->
					<!--</tr>-->
				<!--</thead>-->
				<!--<tbody>-->
					<!--&lt;!&ndash;<tr ng-repeat="item in todo.items | filter:{done: 'false'} | orderBy: 'action'">&ndash;&gt;-->
					<!--<tr ng-repeat="item in todo.items | checkedItems: showComplete | orderBy: 'action'">-->
						<!--<td>{{item.action}}</td>-->
						<!--<td>{{item.done}}</td>-->
						<!--<th><input type="checkbox" ng-model="item.done"> </th>-->
					<!--</tr>-->

					<!--&lt;!&ndash;<tr><td>Estimate...</td><td>No</td></tr>&ndash;&gt;-->
					<!--&lt;!&ndash;<tr><td>Create...</td><td>No</td></tr>&ndash;&gt;-->
					<!--&lt;!&ndash;<tr><td>Edit...</td><td>Yes</td></tr>&ndash;&gt;-->
					<!--&lt;!&ndash;<tr><td>Delete...</td><td>No</td></tr>&ndash;&gt;-->
				<!--</tbody>-->
			<!--</table>-->

			<div task-list></div>
			<div>
				<label>
				<input type="checkbox" ng-model="showComplete">Show Complete
				</label>
		</div>
	</div>
    <script src="vendor/angular/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
