<!DOCTYPE html>
<html ng-app="app" >
<head>
	<title>AngularJS: Filters</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body ng-controller="defaultController as vm">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>
					Products
					<span class="label label-primary">{{vm.products.length}}</span>
				</h3>
			</div>
		</div>
		<div class="panel-body">
			Filter: <input type="text" ng-model="vm.search.$">
			Page Count: <input type="text" ng-model="vm.pageCount">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Category</th>
						<th>Expiry</th>
						<th class="text-right">Price</th>
						<th>JSON</th>
					</tr>
				</thead>
				<div>
					<!--<tr ng-repeat="p in vm.products | limitTo: vm.pageCount">-->
					<!--<tr ng-repeat="p in vm.products | orderBy: [vm.customSorter,'price']">-->
					<!--<tr ng-repeat="p in vm.products | filter: vm.search">-->
					<!--<tr ng-repeat="p in vm.products | filter: vm.selectedProducts">-->
					<tr ng-repeat="p in vm.products | skip: 2 | filter: vm.search | orderBy: 'price' | limitTo: vm.pageCount">
						<!--<td>{{p.name | lowercase}}</td>-->
						<td>{{p.name | labelCase: true}}</td>
						<td>{{p.category | uppercase}}</td>
						<td>{{vm.getExpiryDate(p.expiry) | date}}</td>
						<td class="text-right">{{p.price | currency: "$"}}</td>
						<td>{{vm.customSorter(p)}}</td>
					</tr>
				</div>
			</table>

			<!-- linky example -->
			<!-- <div ng-bind-html="vm.htmlSnippet"></div> -->
			<!-- <div ng-bind-html="vm.htmlSnippet | linky"></div> -->
		</div>
	</div>

	<script src="vendor/angular/angular.min.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="vendor/angular-locale/angular-locale_uk-ua.js"></script>

	<script src="app.js"></script>
	<script src="feature/feature.module.js"></script>
	<script src="feature/productDataSrv.js"></script>

</body>
</html>









